/*

** Molecule - Breadcrumb **

<nav role="navigation" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

*/

.breadcrumb
{
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  
  border-radius: .25rem;
  
  background-color: #e9ecef;
  list-style: none;
}

.breadcrumb-item  +  .breadcrumb-item::before
{
  content: "/";
  display: inline-block;

  padding-right: .5rem;
  padding-left: .5rem;
  
  color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item:hover::before
{
  text-decoration: none;
}

.breadcrumb-item.active
{
  color: #6c757d;
}
