/*

** ATOM - Button Full Background **

*/

.btn-primary
{
    border-color: $primary;
    background-color: $primary;

    @include hover
    {
        background-color: $white;
        color: $primary;
    }

    @include active
    {
        border-color: darken($primary, 40%);
        background-color: darken($primary, 40%);
        color: $white;
    }
}

.btn-secondary
{
    border-color: $secondary;
    background-color: $secondary;
    color: $primary;

    @include hover
    {
        border-color: $access-color;
        background-color: $white;
    }

    @include active
    {
        border-color: darken($access-color, 20%);
        background-color: darken($access-color, 20%);
        color: $white;
    }
}

.btn-success
{
    border-color: $success;
    background-color: $success;

    @include hover
    {
        border-color: $success;
        background-color: $white;
        color: $success;
    }

    @include active
    {
        border-color: darken($success, 10%);
        background-color: darken($success, 10%);
        color: $white;
    }
}

.btn-link
{
    border-color: $access-color;
    background-color: $white;
    color: $access-color;

    @include hover
    {
        border-color: darken($access-color, 10%);
        background-color: $white;
        color: darken($access-color, 10%);
    }

    @include active
    {
        border-color: darken($access-color, 30%);
        background-color: darken($access-color, 30%);
        color: $white;
    }
}

.btn-info,
.btn-default
{
    border-color: $access-color;
    background-color: $access-color;

    @include hover
    {
        border-color: $access-color;
        background-color: $white;
        color: $access-color;
    }

    @include active
    {
        border-color: darken($access-color, 20%);
        background-color: darken($access-color, 20%);
        color: $white;
    }
}

.btn-warning
{
    border-color: $warning;
    background-color: $warning;

    @include hover
    {
        border-color: $warning;
        background-color: $white;
        color: $warning;
    }

    @include active
    {
        border-color: darken($warning, 20%);
        background-color: darken($warning, 20%);
        color: $white;
    }
}

.btn-danger
{
    border-color: $alert;
    background-color: $alert;

    @include hover
    {
        border-color: $alert;
        background-color: $white;
        color: $alert;
    }

    @include active
    {
        border-color: darken($alert, 20%);
        background-color: darken($alert, 20%);
        color: $white;
    }
}

.btn-light
{
    border-color: $gray-500;
    background-color: $gray-500;

    @include hover
    {
        border-color: $gray-500;
        background-color: $white;
        color: $gray-500;
    }

    @include active
    {
        border-color: darken($gray-500, 20%);
        background-color: darken($gray-500, 20%);
        color: $white;
    }
}

.btn-dark
{
    border-color: $gray-800;
    background-color: $gray-800;

    @include hover
    {
        border-color: $gray-800;
        background-color: $white;
        color: $gray-800;
    }

    @include active
    {
        border-color: darken($gray-800, 20%);
        background-color: darken($gray-800, 20%);
        color: $white;
    }
}


// .btn-primary
// {

// }

// .btn-primary:hover
// {

// }

// .btn-primary.focus, 
// .btn-primary:focus
// {

// }

// .btn-primary.disabled, 
// .btn-primary:disabled
// {

// }

// .btn-primary:not(:disabled):not(.disabled).active, 
// .btn-primary:not(:disabled):not(.disabled):active, 
// .show > .btn-primary.dropdown-toggle
// {

// }

// .btn-primary:not(:disabled):not(.disabled).active:focus, 
// .btn-primary:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-primary.dropdown-toggle:focus
// {

// }

// .btn-secondary
// {

// }

// .btn-secondary:hover
// {

// }

// .btn-secondary.focus, 
// .btn-secondary:focus
// {

// }

// .btn-secondary.disabled, 
// .btn-secondary:disabled
// {

// }

// .btn-secondary:not(:disabled):not(.disabled).active, 
// .btn-secondary:not(:disabled):not(.disabled):active, 
// .show > .btn-secondary.dropdown-toggle
// {

// }

// .btn-secondary:not(:disabled):not(.disabled).active:focus, 
// .btn-secondary:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-secondary.dropdown-toggle:focus
// {

// }

// .btn-success
// {

// }

// .btn-success:hover
// {

// }

// .btn-success.focus, 
// .btn-success:focus
// {

// }

// .btn-success.disabled, 
// .btn-success:disabled
// {

// }

// .btn-success:not(:disabled):not(.disabled).active, 
// .btn-success:not(:disabled):not(.disabled):active, 
// .show > .btn-success.dropdown-toggle
// {

// }

// .btn-success:not(:disabled):not(.disabled).active:focus, 
// .btn-success:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-success.dropdown-toggle:focus
// {

// }

// .btn-info
// {

// }

// .btn-info:hover
// {

// }

// .btn-info.focus, 
// .btn-info:focus
// {

// }

// .btn-info.disabled, 
// .btn-info:disabled
// {

// }

// .btn-info:not(:disabled):not(.disabled).active, 
// .btn-info:not(:disabled):not(.disabled):active, 
// .show > .btn-info.dropdown-toggle
// {

// }

// .btn-info:not(:disabled):not(.disabled).active:focus, 
// .btn-info:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-info.dropdown-toggle:focus
// {

// }

// .btn-warning
// {

// }

// .btn-warning:hover
// {

// }

// .btn-warning.focus, 
// .btn-warning:focus
// {

// }

// .btn-warning.disabled, 
// .btn-warning:disabled
// {

// }

// .btn-warning:not(:disabled):not(.disabled).active, 
// .btn-warning:not(:disabled):not(.disabled):active, 
// .show > .btn-warning.dropdown-toggle
// {

// }

// .btn-warning:not(:disabled):not(.disabled).active:focus, 
// .btn-warning:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-warning.dropdown-toggle:focus
// {

// }

// .btn-danger
// {

// }

// .btn-danger:hover
// {

// }

// .btn-danger.focus, 
// .btn-danger:focus
// {

// }

// .btn-danger.disabled, 
// .btn-danger:disabled
// {

// }

// .btn-danger:not(:disabled):not(.disabled).active, 
// .btn-danger:not(:disabled):not(.disabled):active, 
// .show > .btn-danger.dropdown-toggle
// {

// }

// .btn-danger:not(:disabled):not(.disabled).active:focus, 
// .btn-danger:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-danger.dropdown-toggle:focus
// {

// }

// .btn-light
// {

// }

// .btn-light:hover
// {

// }

// .btn-light.focus, 
// .btn-light:focus
// {

// }

// .btn-light.disabled, 
// .btn-light:disabled
// {

// }

// .btn-light:not(:disabled):not(.disabled).active, 
// .btn-light:not(:disabled):not(.disabled):active, 
// .show > .btn-light.dropdown-toggle
// {

// }

// .btn-light:not(:disabled):not(.disabled).active:focus, 
// .btn-light:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-light.dropdown-toggle:focus
// {

// }

// .btn-dark
// {

// }

// .btn-dark:hover
// {

// }

// .btn-dark.focus, 
// .btn-dark:focus
// {

// }

// .btn-dark.disabled, 
// .btn-dark:disabled
// {

// }

// .btn-dark:not(:disabled):not(.disabled).active, 
// .btn-dark:not(:disabled):not(.disabled):active, 
// .show > .btn-dark.dropdown-toggle
// {

// }

// .btn-dark:not(:disabled):not(.disabled).active:focus, 
// .btn-dark:not(:disabled):not(.disabled):active:focus, 
// .show > .btn-dark.dropdown-toggle:focus
// {

// }