[class*='ff-montserrat']
{
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.ff-montserrat-100{ font-weight: 100; }
.ff-montserrat-200{ font-weight: 200; }
.ff-montserrat-300{ font-weight: 300; }
.ff-montserrat-400{ font-weight: 400; }
.ff-montserrat-500{ font-weight: 500; }
.ff-montserrat-600{ font-weight: 600; }
.ff-montserrat-700{ font-weight: 700; }
.ff-montserrat-800{ font-weight: 800; }
.ff-montserrat-900{ font-weight: 900; }